.vic__new__post__button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
  }
  
  .vic__new__post__button {
    position: relative;
    float: right;
  }

.vic__blog__page__header{
    text-align: center;
    margin: 5px auto;
}

.vic__blog__row{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}
.vic__blog__card{
    width: 25%;
    height: 180px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 6(1fr);
    grid-gap: 5px;
    text-align: left;

}
.vic__blog__detail__card{
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    /* background-color: #ccc; */
    border-bottom: #ccc 1px solid;
}
.vic__blog__title__text{
    font-weight: bold;
    color: #000;
    line-height: 20px;
   
}